from sqlalchemy import Column, Integer, String
from core.base_model import Base, TimestampMixin

class {{ class_name }}(Base, TimestampMixin):
    __tablename__ = '{{ table_name }}'

    id = Column(Integer, primary_key=True, index=True)