from sqlalchemy import Column, Integer, String
from core.base_model import Base, TimestampMixin

class {{ class_name }}(Base, TimestampMixin):
    __tablename__ = '{{ plural_name }}'

    id = Column(Integer, primary_key=True, index=True)
    name = Column(String(50), nullable=False)
    description = Column(String(255), nullable=True)