from sqlalchemy.ext.asyncio import AsyncSession

from core.base_repository import BaseRepository
from ..models.{{ name }} import {{ class_name }}
from ..schemas.{{ name }} import {{ class_name }}Create, {{ class_name }}Update

class {{ class_name }}Repository(BaseRepository[{{ class_name }}, {{ class_name }}Create, {{ class_name }}Update]):
    def __init__(self, db: AsyncSession):
        super().__init__({{ class_name }}, db)