from pydantic import BaseModel, ConfigDict
{%- if dynamic_imports %}
{%- for name, types in dynamic_imports.items() %}
from {{ name }} import {{ types | join(", ") }}
{%- endfor %}
{%- endif %}


class {{ class_name }}Base(BaseModel):
{%- if attributes %}
{%- for name, type in attributes.items() if name not in ['id', 'created_at', 'updated_at'] %}
    {{ name }}: {{ type }}
{%- endfor %}
{%- else %}
    pass # Add fields here
{%- endif %}

class {{ class_name }}Create({{ class_name }}Base):
    pass

class {{ class_name }}Update(BaseModel):
{%- if attributes %}
{%- for name, type in attributes.items() if name not in ['id', 'created_at', 'updated_at'] %}
{%- set base_type = type.replace('Optional[', '').replace(']', '') %}
    {{ name }}: Optional[{{ base_type }}] = None
{%- endfor %}
{%- else %}
    pass # Add fields here
{%- endif %}
    model_config = ConfigDict(from_attributes=True)

class {{ class_name }}Response({{ class_name }}Base):
    id: int
    model_config = ConfigDict(from_attributes=True)