from pathlib import Path
from core.base_app_config import BaseAppConfig

class {{ class_name }}AppConfig(BaseAppConfig):
    """Configuration class for the '{{ name }}' app."""
    pass


# This instance will be discovered and registered automatically.
app_config = {{ class_name }}AppConfig(app_path=Path(__file__).parent)